{% load staticfiles %}
<div class="row row text-white text-uppercase d-flex justify-content-start">
  <div class="col-12">
    <h1 class="fw-bold"> {{ card.first_name }} {{ card.last_name }} </h1>
    <h3> {{ card.occupation }}</h3>
  </div>
</div>
<div class="row row text-white text-uppercase d-flex justify-content-start">
  <div class="col-12 col-md-8">
    <h4 class="py-3"><img src="{% static 'images/card_icons/location.png' %}" height="30"> {{ card.location }}</h4>
    <h4 class="pb-3"><img src="{% static 'images/card_icons/email.png' %}" height="30"> {{ card.email }}</h4>
    <h4><img src="{% static 'images/card_icons/phone.png' %}" height="30"> {{ card.phone_no }}</h4>
  </div>
  <div class="col-12 col-md-4">
    <p class="pb-3 text-center">{{ card.website }}</p>
    <img src="{{ MEDIA_URL }}{{ card.picture }}" alt="card image" style="max-width: 100%; height: auto; align-self: center">
  </div>
</div>
