{% extends 'myCard/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Dashboard
{% endblock %}

{% block main_block %}
<!-- User dashboard -->
<div class="container-fluid bg-light py-5 px-5">
  <div class="row align-items-md-stretch py-3 px-5">
    <div class="col-12 col-md-4 pb-3">
      <div class="row">
        <div class="py-2 mb-3 bg-main rounded-3 text-center text-white">
          <h1 class="fw-bold">DASHBOARD</h1>
        </div>
      </div>
      <div class="row">
        <div class="py-5 bg-main rounded-3 text-center text-white">
          <img src="{% static 'images/illustrations/user1.png' %}" alt="User picture" class="img-fluid rounded-circle py-3" width="200">
          <div class="py-2">
           <h4 class="fw-bold text-uppercase">{{ request.user }}</h4>
          </div>
        </div>
      </div>
     <div class="row d-none d-md-block">
       <div class="py-5 my-5 bg-light text-center">
         <h3 class="fw-bold">Need to be inspired?</h3>
         <div class="pt-4">
          <a class="btn btn-lg btn-main" href="{% url 'myCard:public_cards' %}">Visit Public Cards</a>
         </div>
         <img src="{% static 'images/illustrations/card_public_page.png' %}" alt="Public Cards" class="img-fluid py-3" width="250">
       </div>
     </div>
   </div>
   <div class="col-12 col-md-8">
     <div class="p-5 py-3 bg-main rounded-3 text-white">
       <h2>YOUR CARDS</h2>
       {% if cards %}
       <p>Here you can view your cards: click on one of them to save it as PDF!</p>
       {% else %}
       {% endif %}
       <!-- User cards -->
       <div class="py-2">
         <div class="row justify-content-center pt-2">
           {% if cards %}
           <!-- Cards -->
           <div class="row">
             {% for c in cards %}
              <div class="col-sm-auto col-lg-6 pb-5">
               <div class="card" style="border: none" data-cardid ={{ c.id }}>
                 <div class="card-body my-2">
                   <div class="row d-flex justify-content-center">
                     <div class="col-auto mb-2">
                       <h5 class="card-title text-uppercase text-dark mb-0">{{ c.name }}</h5>
                     </div>
                   </div>
                 </div>
                 <div class="pb-5 d-flex justify-content-center">
                   <img src="{{ MEDIA_URL }}{{ c.picture }}" alt="card image" style="max-width: 30%; height: auto; align-self: center">
                 </div>
               </div>
             </div>
             {% endfor %}
			       <div class="bg-main" id="card">
			       </div>
			       <div class="btn btn-lg btn-main" id="saveBtn">Save</div>
           </div>
           <!-- Cards -->
           {% else %}
           <div class="row d-flex justify-content-center text-white">
             <h5 class="fw-bold mt-5 text-center">No Personal Cards present. Start creating yours!</h5>
             <div class="col-auto my-3">
               <a class="btn btn-home btn-md py-3 px-4" href="{% url 'myCard:create_card' %}">CREATE YOUR CARD</a>
             </div>
             <img src="{% static 'images/illustrations/start_card.png' %}" alt="Be creative" style="max-width: 100%; height: auto; align-self: center">
            </div>
           {% endif %}
         </div>
       </div>
       <!-- User cards -->
     </div>
   </div>
  </div>
</div>
<!-- User dashboard -->
{% endblock %}
