{% extends 'myCard/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Create your card
{% endblock %}

{% block main_block %}
<!-- User dashboard -->
<div class="container-fluid bg-light pt-5 pb-3 px-5">
  <div class="row align-items-md-stretch py-3 px-5">
   <div class="col col-md-4 pb-3">
     <div class="row">
       <div class="py-2 mb-3 bg-main rounded-3 text-center text-white">
         <h1 class="fw-bold">CREATE A CARD</h1>
       </div>
     </div>
     <div class="row">
       <div class="py-5 bg-main rounded-3 text-center text-white">
         <img src="{% static 'images/user1.png' %}" alt="User picture" class="img-fluid rounded-circle py-3" width="200">
         <div class="py-2">
          <h4 class="fw-bold text-uppercase">{{ request.user }}</h4>
         </div>
       </div>
     </div>
   </div>
   <div class="col col-md-8">
     <div class="px-5 py-3  bg-main rounded-3">
       <h2 class="text-white">FILL IN YOUR DETAILS</h2>
       <div class="custom-card" id="card">
	     </div>
	   <button class="btn btn-home btn-lg px-5" type="submit" id = "gnr8" >Generate myCard</button>
     </div>
   </div>
  </div>
  <!-- Log out -->
  <div class="row d-none d-md-block">
    <div class="mt-5 bg-light text-center">
      <h3 class="fw-bold">Are you done for today?</h3>
      <div class="pt-4">
       <a class="btn btn-lg btn-main" href="#">Log Out</a>
      </div>
      <img src="{% static 'images/bye.png' %}" alt="Bye bye" class="img-fluid py-3" width="250">
    </div>
  </div>
  <!-- Log out -->
</div>
<!-- User dashboard -->
{% endblock %}
