{% extends 'myCard/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Homepage
{% endblock %}

{% block main_block %}
<!-- Introduction -->
<section class="bg-main text-center text-white">
  <div class="container py-5">
    <div class="row justify-content-center py-5">
      <div class="col-auto">
        <h1 class="display-6 fw-bold mb-4">7 billion cards are printed each year.<br>Help the planet by creating a virtual Personal Card!</h1>
        <p class="fs-5">Use our minimal yet professional cards templates. Easy to use and done within minutes!</p>
      </div>
    </div>
    <div class="row justify-content-center pb-5">
      <div class="col-auto pb-2">
        <a class="btn btn-home btn-lg mt-5 py-3 px-4" href="{% url 'myCard:create_card' %}" role="button">CREATE YOUR CARD!</a>
      </div>
    </div>
  </div>
</section>
<!-- Introduction -->
<!-- User Cards -->
<section class="bg-grey text-center text-black">
  <div class="container py-5">
    <img src="{% static 'images/illustrations/goals.png' %}" alt="Objectives" height="250">
    <div class="row justify-content-center py-5">
      <div class="col-auto">
        <h1 class="display-7 fw-bold">Check the Personal Cards created by our users!</h1>
        <p class="fs-5 my-1">Get inspired by the Personal Cards of our users!</p>
        <p class="my-1 text-muted">Click on one to view</p>
      </div>
    </div>
    {% if cards %}
    <!-- Cards -->
    <div class="row">
      {% for c in cards %}
      <div class="col">
        <div class="card crd-home" data-cardid="{{ c.id }}">
          <div class="card-body">
            <div class="row d-flex justify-content-center">
              <div class="col-auto mb-2">
                <h5 class="card-title text-uppercase mb-0">{{ c.user }}</h5>
                <p class="card-text"><small class="text-muted">{{ c.name }}</small></p>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
            </div>
          </div>
          <img src="{{ MEDIA_URL }}{{ c.picture }}" alt="card 1 - example" class="shadow-lg" style="max-width: 100%; height: auto; align-self: center">
        </div>
      </div>
      {% endfor %}
      <div class="row pt-4 justify-content-center">
        <div class="col-auto" id="card">
        </div>
      </div>
    </div>
    <!-- Cards -->
    {% else %}
      <strong>There are no cards present.</strong>
    {% endif %}
    <!-- Public Cards link -->
    <div class="row d-flex pt-4 justify-content-center">
      <h5 class="fw-bold mt-5 text-center">Want to see more? Press the button below:</h5>
      <div class="col-auto my-3">
        <a class="btn btn-main btn-md py-3 px-4" href="{% url 'myCard:public_cards' %}">PUBLIC CARDS</a>
      </div>
    </div>
    <!-- Public Cards link -->
  </div>
</section>
<!-- User cards -->
{% endblock %}
