{% extends 'myCard/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Public Cards
{% endblock %}

{% block main_block %}
<!-- Introduction -->
<section class="bg-grey text-black">
  <div class="container px-5 pt-3">
    <div class="row pt-5">
      <div class="col-md-6">
        <h1 class="display-5 fw-bold my-4">Public cards</h1>
        <p class="fs-5">Need to be inspired? Check out what our users have created and combine them with our templates and card builder tool to finish Your Card in minutes.</p>
        <div class="row d-flex justify-content-center">
          <h5 class="fw-bold mt-5 text-center">Ready to create your Personal Card?</h5>
          <div class="col-auto my-3">
            <a class="btn btn-main btn-md py-3 px-4" href="{% url 'myCard:create_card' %}">START NOW</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-auto d-flex justify-content-center">
        <img src="{% static 'images/illustrations/card_public_page.png' %}" alt="Public Cards picture" style="max-width: 100%; height: auto; align-self: center">
      </div>
    </div>
</section>
<!-- Introduction -->
<!-- Public Cards -->
<section class="bg-white text-center text-black">
  <div class="container-fluid py-5">
      {% if cards %}
      <p class="fs-5 text-muted">Here are the Personal Cards from the users</p>
      <div class="row justify-content-center">
      <!-- Cards -->
      <div class="row px-4">
        {% for c in cards %}
        <div class="col-12 col-md-4 py-5">
          <div class="card crd-public">
            <div class="card-body">
              <div class="row d-flex justify-content-center">
                <div class="col-auto mb-2">
                  <h5 class="card-title text-uppercase mb-0">{{ c.user }}</h5>
                  <p class="card-text"><small class="text-muted">{{ c.name }}</small></p>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-auto mb-2">
                  <a class="btn btn-main" href="#">Share</a>
                  <a class="btn btn-main" href="#">Download</a>
                </div>
              </div>
            </div>
            <img src="{{ MEDIA_URL }}{{ c.picture }}" alt="card 1 - example" class="shadow-lg" id="crd-image">
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Cards -->
      {% else %}
      <p class="fs-5 text-muted">There are no cards present.</p>
      {% endif %}
    </div>
  </div>
</section>
<!-- Public cards -->
{% endblock %}
